<meta charset="UTF-8">
<title>Hacker Calendar</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./css/stylesheet.css">
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>